* {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

nav {
    background-color: #ffffff;
    padding: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo {
    height: 5rem;
    width: 19rem;
    display: flex;
    align-items: center;
}

.logo img {
    height: 5rem;
    width: 5rem;
    margin-right: -6px;
}

h2 {
    color: rgb(0, 191, 255);
}

.ul {
    cursor: pointer;
    list-style-type: none;
    display: flex;
    margin-left: auto;
}

.buttons {
    display: flex;
    padding-right: 3rem;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid rgb(0, 191, 255);
    border-radius: 5px;
}

.ul li {
    padding-right: 3rem;
}

.ul li span {
    margin-right: 5px;
    display: inline-block;
}

.form {
    padding-left: 5rem;
    margin: 2rem 2rem;
    /* Adjust the margin as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form h1 {
    margin-right: 20rem;
    margin-top: 1rem;
    color: #00c3ff;
}

.form label {
    font-size: 20px;
    width: auto;
    /* Adjust the width as needed */
    margin-bottom: 1rem;
}

.form input,
.form select {
    width: 50vw;
    /* Adjust the width as needed */
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.btn-2 {
    width: 20%;
    /* Adjust the width as needed */
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    cursor: pointer;
}

.btn-2:hover {
    background: rgb(0, 166, 255);
}

/* Updated CSS for the sidebar */
.sidebar {
    position: fixed;
    left: 0rem;
    width: 19rem;
    height: 100vh;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: start;
    z-index: 1;
}

.sidebar ul {
    display: block;
    padding-left: 2rem;
    line-height: 50px;
    font-size: 20px;
    color: black;
}

.sidebar ul li {
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    padding: 3px;
    color: black;
    box-sizing: border-box;
}

.sidebar ul li a {
    color: black;
}

.sidebar ul li:hover {
    background: #00c3ff;
}

.sidebar ul li span {
    margin-right: 16px;
}


.qr-scan {
    height: 70vh;
    margin-left: 30rem;
    width: 40vw;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
}

.qrscan h1 {
    margin-left: 22rem;
    margin-top: 2rem;
    color: #00c3ff;
}

.qr-scan h1 {
    margin-left: 10px;
    margin-top: 2rem;
}

.drop-zone {
    box-sizing: border-box;
    border: 1px dashed rgb(64, 64, 64);
    border-radius: 5px;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.drop-zone span {
    color: grey;
    cursor: pointer;
}

.drop-zone__input{
    display: none;
}

.drop-zone--over{
    border-style: solid;
}

.fileDisplay{
    width: 30rem;
    height: 20rem;
    border-radius: 5px;
    border: 1px solid black;
    background-size: cover;
}